<h2 id='title'>Welcome to Ember.js</h2>

<a {{ action 'protected' }}A protected action<a>

{{#if session.isAuthenticated}}
  <a {{ action 'invalidateSession' }}>Logout</a>
{{else}}
  <a {{ action 'authenticateSession' }}>Login</a>
{{/if}}


{{outlet}}
